* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

.quiz-app-container {
  max-width: 400px;
  margin: 15px auto;
  background-color: white;
  padding: 15px;
  border: 2px solid black;
  border-radius: 7px;
  color: black;
}
.quiz-app-container .quiz-title {
  margin: 0;
  text-align: centHyper Text Markup Languageer;
  font-size: 14px;
  min-height: 28.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-app-container p.question-name {
  text-transform: capitalize;
  font-size: 20px;
  margin: 15px;
  min-height: 23.25px;
}

.quiz-app-container .question .options {
  padding: 0 20px;
}

.quiz-app-container .question .options div {
  list-style: none;
  padding: 10px;
  background-color: #e0ebf8;
  margin: 15px;
  border: 1px solid #97c6ff;
  font-size: 15px;
  font-weight: 200;
  text-transform: capitalize;
  min-height: 38.74px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.quiz-app-container .quiz-app-footer {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.quiz-app-container .correct-incorrect {
  /* min-width: 160px; */
  max-width: 160px;
  height: 25px;
  display: block;
  display: flex;
  align-items: center;
  gap: 0 10px;
  justify-content: center;
}

.quiz-app-container .incorrect,
.quiz-app-container .correct {
  display: flex;
  gap: 0 4px;
  font-size: 20px;
  min-width: 50px;
}

.quiz-app-container .incorrect .color,
.quiz-app-container .correct .color {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.quiz-app-container .incorrect .color {
  background-color: #e54d30;
}
.quiz-app-container .correct .color {
  background-color: #5eab6d;
}

.quiz-app-container .quiz-app-footer .next {
  background-color: #5eab6d;
  outline: none;
  border: 1px solid #459e57;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.quiz-app-container .questions-count {
  display: block;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 5px;
}
.quiz-app-container .questions-count span {
  width: 10px;
  height: 10px;
  border: 1px solid #459e57;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.quiz-app-container .questions-count span.on {
  background-color: #459e57;
}
